@font-face {
  font-family: SpaceGrotesk-bold;
  src: url(fonts/static/SpaceGrotesk-SemiBold.ttf);
}

@font-face {
  font-family: Space-regular;
  src: url(fonts/static/SpaceGrotesk-Regular.ttf);
}

body, html {
  height: 100%;
  margin: 0;
  background-color: #ffff;
}


.container-card {
  display: flex;
  height: 100%;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.img-background {
  height: 100vh;
  background-image: url(img/bg-main-desktop.png);
  background-size: cover;
  background-position: left;
}

.card-background {
  flex: 1;
  height: 100vh;
  background-color: #ffff;
  margin-left: 100px;
  flex-direction: column;
}

.form-container {
  font-family: "Space-regular";
}

.form-controller {
  margin-bottom: 20px;
}

.form-controller input {
  padding: 15px;
  width: 80%;
  border: #b5b5b5 solid 0.5px;
  border-radius: 3px;
}

.flex-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.flex-cardContainer {
  margin-bottom: 20px;
}


.flex-cardContainer input{
  width: 80px;
  padding: 10px;
  margin-right: 5px;
  margin-top: 5px;
  border: #b5b5b5 solid 0.5px;
  border-radius: 3px;
}
#card-date-year {
  width: 25%;
}

#card-date-month {
  width: 25%;
  padding: 10px;
  margin-right: 15px;
}



#confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 10px;
  margin: 0 auto;
  background-color: hsl(278, 68%, 11%);
  color: #f5f5f5;
  border-radius: 8px;
  border: none;
  cursor:  pointer;
  
}

.card-front {
  font-family: "SpaceGrotesk-semibold";
}

.card-front img {
  position: absolute;
  width: 30%;
  left: 24%;
  top: 20%;
  
}

.card-back img {
  position: absolute;
  width: 25%;
  left: 30%;
  bottom: 10%;
  

}

#card {
  position: absolute;
  left: 25%;
  top: 32.5%;
  font-size: 2.5rem;
  color: #f5f5f5;
  z-index: 9999;
  
}

#name-card {
  position: absolute;
  left: 25%;
  top: 47%;
  font-size: 1.2rem;
  color: #f5f5f5;
  z-index: 9999;
  
}

#validade {
  position: absolute;
  left:49%;
  top: 47%;
  font-size: 1.2rem;
  color: #f5f5f5;
  z-index: 9999;
  
}

#circle-white {
  position: absolute;
  top: 25%;
  left: 26%;
  width: 50px;
  height: 50px;
  background-color: #f5f5f5;
  border-radius: 50%;
  z-index: 9999;
  
}

#min-circle {
  position: absolute;
  top: 26.5%;
  left: 31.5%;
  width: 30px;
  height: 30px;
  border: 1px solid #f5f5f5;
  border-radius: 50%;
  z-index: 9999;
  
}

.circle-ok {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 18%;
  right: 20.5%;
  background-image: linear-gradient(hsl(278, 68%, 11%), hsl(300, 64%, 38%), hsl(269, 93%, 11%));
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.circle-ok i {
  color: #f5f5f5;
  font-size: 2.4rem;
}

@media (max-width: 370px) and (min-width: 320px) {
  .card-front img, #circle-white, #min-circle, #card, #name-card, #validade {
    display: none;
  }

  
}

@media (max-width: 425px) {
  body, html {
    height: 100%;
    overflow: hidden;
  }

  .container-card {
    display: block;
  }

  .img-background {
    height: 150px;
  }

  .card-front img{
    width: 250px;
    z-index: 999999;
  }

  .card-back img {
    display: none;
  }

  #card {
    position: absolute;
    font-size: 0.7rem;
    top: 20%;
    z-index: 9999999;
  }

  #name-card, #validade {
    z-index: 9999999;
  }

  #circle-white, #min-circle {
    z-index: 9999999;
  }

  .form-container {
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 999999;
  }

  .form-controller {
    margin: 5px;
    font-size: 0.8rem;
    padding: 2px;
  }

  .form-controller label {
    margin-bottom: 4px;
  }

  .form-controller input{
    padding: 10px;
  }

  .flex-cardContainer {
    margin: 5px;
    margin-bottom: 15px;
  }

  .finish h1 {
    font-family: "SpaceGrotesk-Bold";
    position: absolute;
    right: 15%;
    bottom: 20%;
  }

  .finish p {
    font-family: "Space-regular";
    position: absolute;
    color: #4a4a4a;
    right: 9%;
    bottom: 10%;
  }

  #confirm {
    position: absolute;
    bottom: 2%;
    right: 30%;
  }

  .circle-ok {
    position: absolute;
    top: 48%;
    right: 36%;
    background-image: linear-gradient(hsl(278, 68%, 11%), hsl(300, 64%, 38%), hsl(269, 93%, 11%));
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 999999;
  }
  
}

@media (max-width: 768px) and (min-width: 375px) {
  .card-front img{
    left: 21%;
  }

  .card-back img {
    left: 24%;
    top: 50%;
  }

  #card {
    font-size: 1.4rem;
    left: 22.5%;
    top: 29%;
  }

  #name-card {
    font-size: 0.6rem;
    top: 38%;
    left: 22.5%;
  }

  #validade {
    font-size: 0.7rem;
    top: 38%;
    left: 44.5%;
  }

  #circle-white {
    width: 40px;
    height: 40px;
    top: 22%;
    left: 22.5%;
  }

  #min-circle {
    width: 25px;
    height: 25px;
    top: 23.5%;
    left: 29.5%;
  }

  .circle-ok {
    display: none;
  }
  
}

@media (max-width:1200px) and (min-width: 1024px) {
  .card-front img {
    left: 20%;
  }

  .card-back img {
    left: 23%;
  }

  #card {
    font-size: 1.8rem;
    left: 21.5%;
  }

  #name-card {
    font-size: 0.9rem;
    left: 21.5%;
    top: 45%;
  }

  #validade {
    font-size: 0.9rem;
    left: 44%;
    top: 45%;
  }

  #circle-white {
    left: 22%;
    top: 24%;
  }

  #min-circle {
    left: 28%;
    top: 26%;
  }

  .circle-ok {
    display: none;
  }
}

@media (max-width: 1440px) and (min-width: 1200px) {
  .card-front img {
    top: 16%;
  }

  .card-back img {
    top: 60%;
  }

  #circle-white {
    top: 20%;
  }

  #min-circle {
    top: 22%;
  }

  #card {
    font-size: 2.2rem;
    top: 29%;
  }

  #name-card {
    font-size: 1rem;
    top: 45%;
  }

  #validade {
    font-size: 1rem;
    top: 45%;
  }
}

@media (max-width: 2800px) and (min-width: 1440px) {
  .card-front img {
    top: 15%;
  }
}